# Hugo files
/resources/
/.hugo_build.lock
/_vendor/
/public/
/.cache/
/node_modules/
/themes/
/js/coverage/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~
*.bak
*.old

# Test binary, built with `go test -c`
*.test
._*
.cache
.idea
.project
.settings
.tmproj

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
*.lock
/.vscode/
nohup.out
.DS_Store


